<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
    <link rel="stylesheet" href="css/delivery.css" />
    <script
      src="https://kit.fontawesome.com/ef09da54b9.js"
      crossorigin="anonymous"
    ></script>
    <title>Delivery</title>
  </head>
  <body class="mainn">
    <header>
      <img class="logo" src="imgs/sdwlogo.png" alt="logo" />
      <nav>
        <button id="toggleButton"><i class="fa fa-bars"></i></button>
        <div class="hidden">
          <a href="/">Homepage</a><span class="bordering"></span>
          <a href="/store">Stores</a><span class="bordering"></span>
          <a href="/delivery" id="active">Services</a
          ><span class="bordering"></span>
          <a href="/contactus" style="width: auto; padding: 2.2vh 1.5vh"
            >About & Contact</a
          >
        </div>
      </nav>
    </header>
    <script src="js/navigation.js"></script>
    <section class="brief">
      <h1>Delivery?</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque odio
        explicabo consequuntur provident facere minus praesentium, aut qui
        ducimus debitis, hic molestias esse eligendi quidem temporibus vero
        veniam repellendus enim! Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Maiores ad maxime sed expedita saepe obcaecati.
        Voluptas distinctio, eveniet quia, delectus voluptatibus nostrum quaerat
        voluptates qui tenetur placeat est laboriosam veniam. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Reprehenderit asperiores, ex
        debitis explicabo cum blanditiis vitae! Ex quasi voluptate illum, fuga
        doloribus esse id ea error ipsum! Tempora, facilis provident.
      </p>
    </section>
    <section class="mainsection">
      <div class="cities">
        <h1>Find your city here</h1>
        <input type="text" name="" placeholder="Type here" id="filter_users" />
        <ul id="city-list"></ul>
      </div>
      <hr />
      <div class="search">
        <h1>Choose your region</h1>
        <button class="btn">
          Yangon <i class="fa-solid fa-arrow-down fa-beat-fade"></i>
        </button>
        <div class="content">
          <table>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
          </table>
        </div>
        <button class="btn">
          Yangon <i class="fa-solid fa-arrow-down fa-beat-fade"></i>
        </button>
        <div class="content">
          <table>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
          </table>
        </div>
        <button class="btn">
          Yangon <i class="fa-solid fa-arrow-down fa-beat-fade"></i>
        </button>
        <div class="content">
          <table>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
            <tr>
              <td>Township</td>
              <td>Township</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <script src="js/delivery.js"></script>
    <div class="footerclass">
      <footer>
        <div class="footer1">
          <h1>ShweDuWun</h1>
          <br />
          <h3>Medical Product Distributor</h3>
        </div>

        <div class="footer2">
          <ul>
            <li><a href="#">Pages</a></li>
            <br />
            <li><a href="#">stores</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
            <br />
            <li><a href="#">Contact2WebsiteDevelopers</a></li>
          </ul>
        </div>
        <div class="footer3">
          <font>
            <input type="email" required placeholder="Type your Email..." />
            <br />
            <button type="submit">Subscribe</button>
          </font>

          <ul class="icons">
            <li>
              <a href="#"><i class="fa-brands fa-facebook fa-beat"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa-brands fa-facebook-messenger fa-fade"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa-solid fa-envelope fa-flip"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa-brands fa-youtube fa-bounce"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer4">
          <h4>Copyright@ 2023-2024</h4>
        </div>
      </footer>
    </div>
  </body>
</html>
