<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/homepage.css" rel="stylesheet" type="text/css">
    <title>Website4MyMomsBusiness</title>
</head>
<body class="mainn">
    <div>

        <header>
            <img class="logo" src="imgs/sdwlogo.png" alt="logo">
            <nav>
                <ul class="navlink">
                    <li><a href="/store">Stores</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>Contact</button></a>
        </header>
        <div class="mainpage">

            <div class="mainpage2">
                <img class="dttimg" src="imgs/dtt.png">
                <p>Client's Happiness Is Our Goal</p>
            </div>
            <div class="mainpage3">
                <p>We are sending and delivering our products to every towns in Myanmar. 
                Contact us fast and we will transfer our products to every clients whitin a week. </p>
            </div>
            
            <!--TODO  -->>
        </div>
    </div>
    
    
</body>
</html>