<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css" type="text/css">
    <link href="css/homepage.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/ef09da54b9.js" crossorigin="anonymous"></script>
    <title>Home-ShweDuWun</title>
</head>
<body class="mainn">
    <div>

        <header>
            <img class="logo" src="imgs/sdwlogo.png" alt="logo">
            <nav>
                <ul class="navlink">
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/store">Stores</a></li>
                    <li><a href="/delivery">Services</a></li>
                </ul>
            </nav>
            <a class="cta" href="/contactus"><button>About & Contact</button></a>
        </header>
        
    </div>
    
    
    <div class="mainpage">

        <div class="mainpage2">
            <img class="dttimg" src="imgs/dtt.png">
            <p>Client's Happiness Is Our Goal</p>
        </div>

        <div class="mainpage3">
            <div id="borderleft"></div>
            <h1>Buying more than 1,000,000 Forever Living Products cost will be off 10% of the  price.</h1>
            <h3>We are sending and delivering our products to every town in Myanmar. 
                Please contact us fast; we will transfer our products to every client within a week.</h3>
        </div>
        
        <!--TODO  -->>
    </div>
    <div class="footerclass">
        <footer>
            <div class="footer1">
                <h1>ShweDuWun</h1>
                <br>
                <h3>Medical Product Distributor</h3>
            </div>

            <div class="footer2">
                <ul>
                    <li><a href="#">Pages</a></li>
                    <br>
                    <li><a href="#">stores</a></li>
                    <li><a href="#">services</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">contact</a></li>
                    <br>
                    <li><a href="#">Contact2WebsiteDevelopers</a></li>
                </ul>
            </div>
            <div class="footer3">
                <font>
                    <input type="email" required placeholder="Type your Email...">
                    <br>
                    <button type="submit">Subscribe</button>
                </font>

                <ul class="icons">
                    <li><i class="fa-brands fa-facebook fa-beat"></i></li>
                    <li><i class="fa-brands fa-facebook-messenger fa-fade"></i></li>
                    <li><i class="fa-solid fa-envelope fa-flip"></i></li>
                    <li><i class="fa-brands fa-youtube fa-bounce"></i></li>
                </ul>
            </div>
            <div class="footer4">
               <h4>Copyright@ 2023-2024</h4>
            </div>
        </footer>
    </div>
</body>
</html>