.message {
  margin-top: 8%;
  text-align: center;
  padding: 0 10%;
  > h1 {
    margin: 4vh;
    font-size: 5em;
    display: inline-block;
  }
  > a {
    text-decoration: none;
    font-size: 1.2em;
    border: solid 2px black;
    background-color: white;
    height: 50px;
    width: 70px;
    padding: 7px;
    color: black;
  }
}
