.desktop {
  width: 80%;
  height: 80vh;
  margin: 3% 10%;
  background-color: rgba(3, 145, 247, 0.74);
  background-image: url("../imgs/mail_send.png");
  border: 3px solid aqua;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(90, 241, 255);
}

.left {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  background-color: rgba(255, 255, 255, 0.5);
}
.left h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin-bottom: 2px;
}
.sub_left {
  position: absolute;
  height: 24%;
  width: 100%;
  margin: 3vh 0 0 3vh;
  background-color: rgba(83, 178, 247, 0.74);
}
.sub_left h2 {
  padding: 3vh 0 1vh 1vh;
}
.sub_left p {
  color: gray;
  padding-left: 1.2vh;
}
.sub_left1 {
  height: 5vh;
  width: 70%;
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1px;
  background-color: rgba(85, 184, 255, 0.74);
}
.sub_left1 a {
  margin: auto 2px;
  font-size: 1.3em;
  text-decoration: none;
  padding: 1vh;
  background-color: yellowgreen;
  color: white;
  border-radius: 5px;
}

.right {
  width: 70%;
  height: 100%;
  float: right;
  background-color: rgba(255, 255, 255, 0.24);
}
.right h1 {
  font-size: 3.1em;
  padding: 3vh 0 0 4vh;
}
.right p {
  color: gray;
  font-size: 1.3em;
  padding: 1vh 0 0 4vh;
}
.right form {
  width: 80%;
  margin: 1vh 10%;
}
.right form input,
textarea,
button {
  padding: 1.5vh 1vh;
  font-size: 1.2em;
  border: 3px solid black;
}
form div {
  display: flex;
  height: 6vh;
  align-items: center;
}
form div i {
  font-size: 2.5vh;
  text-align: center;
  width: 5vh;
}
.name {
  display: flex;
  flex-direction: row;
  margin: 1.5vh 0;
}
.name input {
  width: 95%;
}

.subs {
  margin: 1.5vh 0;
}
.subs div {
  width: 50%;
}
.subs input {
  width: 90%;
}
textarea,
button {
  width: 100%;
}

.mobile {
  display: none;
}
