.brief {
  width: 90%;
  margin: 5%;
  height: auto;
  border: 3px solid black;
  padding: 2vh;
}
.brief h1 {
  font-size: 2em;
  background-color: yellow;
  display: inline-block;
  padding: 1vh 1.2vh;
  margin: 10px;
}
.brief p {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 5px 5%;
  text-align: justify;
}

.mainsection {
  height: auto;
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
.mainsection hr {
  width: 60%;
  margin: 4vh;
  border: 3px dotted black;
  margin-left: 20%;
}

.cities {
}
.cities h1 {
  font-size: 3em;
  margin: 7px;
}
.cities input {
  width: 30%;
  font-size: 1.8em;
  padding: 1vh;
  margin: 1vh;
  background-color: rgba(5, 255, 180, 0.4);
  border: 3px solid rgba(255, 0, 72, 0.296);
}

.search {
  width: 70%;
  height: auto;
  margin-left: 15%;
  padding: 1vh;
  border: 5px black solid;
  border-radius: 25px;
  background-color: rgba(0, 195, 255, 0.296);
  
}
.search h1 {
  font-size: 2em;
  margin: 2vh;
  border-bottom: 1px dashed black;
}
.search button {
  width: 80%;
  text-align: left;
  font-size: 1.5em;
  padding: 1vh;
  margin: 1.5vh;
}
.search button:hover{
  color: cyan;
  border: 4.5px black solid;
  box-shadow: 0px 0px 25px cyan;
  background-color: black;
}
.search button i {
  float: right;
}
.content {
  display: none;
}
.search table {
  width: 70%;
  margin: 0 15%;
}
.search td {
  font-size: 1.3em;
  padding: 1vh 0;
}
table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

@media only screen and (max-width: 851px) {
  #deliveryh1 {
    margin: auto 20%;
    height: 60%;
    margin-bottom: 2vh;
  }
  .cities h1 {
    font-size: 2em;
  }
  .cities input {
    width: 80%;
    margin: 1vh 10%;
    font-size: 1.2em;
  }
  .mainsection hr {
    width: 80%;
    margin-left: 10%;
  }
  .search {
    width: 100%;
    margin: auto 0;
  }
  .search button {
    width: 90%;
    margin: 0.5vh 5%;
  }
  .search table {
    width: 90%;
    margin: 10px 5%;
  }
}
