@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainn{
    background-image: url("../imgs/background.jpg");
    background-size: 1550px 1100px;
    background-position: center;
    background-attachment: fixed;
}

li, a, button{
    font-family: 'Kablammo', cursive;
    font-family: 'Palette Mosaic', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 10%;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 10%;
    max-height: 8%;
}
.navlink{
    list-style: none;
    margin-right: 20px;
}
.navlink li{
    display: inline-block;
    padding: 0px 20px;
}
.navlink li a{
    transition: all 0.3s ease 0s;
    color: rgba(0, 136, 169, 1);
}
.navlink li a:hover{
    color: black;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
.mainpage{
    width: 70%;
    height: 550px;
    background-color: ;
    margin-top: 45px;
    margin-left: 15%;
    border-radius: 20px;
    margin-right: 15%;
    overflow: hidden;
}
.mainpage2{
    width: 40%;
    height: inherit;
    background-color: ;
    float: right;
    text-align: center;
    color: yellow;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
.mainpage3{
    width: 60%;
    height: inherit;
    background-color: ;
    float: left;
    padding: 20% 0 0 0;
    text-align: center;
    color: rgba(0, 136, 169, 1.0);
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1.5px;
    line-height: 35px;
}
.dttimg{
    cursor: pointer;
    max-width: 85%;
    max-height: 85%;
    margin: 3%;
}