@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainpage {
  width: 80%;
  height: 70vh;
  margin-top: 20vh;
  margin-left: 10%;
  border-radius: 20px;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
}

.mainpage2 {
  flex: 40%;
  height: inherit;
  float: left;
  text-align: center;
  color: rgba(0, 136, 169, 1);
  font-size: 25px;
  font-family: "Lobster", cursive;
  padding: 3vh 0 18px 0;
  position: relative;
}

#borderleft {
  margin-left: -34px;
  position: absolute;
  border-left: 4px dashed rgb(9, 212, 239);
  top: 10%;
  height: 30vh;
}

.mainpage2 p {
  padding: 7px;
  border-radius: 0 20px 20px 20px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.397);
}

.mainpage3 {
  flex: 60%;
  height: inherit;
  float: right;
  padding: 10% 0 0 8%;
  text-align: center;
  color: rgba(0, 136, 169, 1);
  font-size: 20.5px;
  font-family: "Fjalla One", sans-serif;
  animation: shadowmove 6s infinite;
  overflow: hidden;
}

@keyframes shadowmove {
  70% {
    color: black;
    text-shadow: 0 18px 30px rgb(27, 255, 6);
  }
}

.mainpage3 h3 {
  letter-spacing: 1.5px;
  line-height: 35px;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.699);
  border-radius: 20px;
  padding: 10px;
}

.dttimg {
  position: relative;
  cursor: pointer;
  max-width: 90%;
  max-height: 85%;
}

#dtt {
  font-size: 2.5em;
  text-align: center;
  background-color: #ffea6c;
  line-height: 10vh;
  width: 80vw;
  margin: 7vh 10vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#dtt span {
  color: red;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  animation: fade 1000ms ease-in-out infinite;
}

@keyframes fade {
  100% {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 1.25em;
  }
}
.toShop {
  width: 86%;
  height: 70vh;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
  text-align: center;
  margin: 10vh 7%;
  border: 4px solid black;
  border-radius: 0 0 25px 25px;
}

.toShop a {
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Fjalla One", sans-serif;
  padding: 2vh 3vh;
  border-radius: 0 0 25px 25px;
  box-shadow: 2px 3px 5px black;
  background-color: aquamarine;
  grid-column: 1 / span 2;
  transition: 400ms linear;
}

.toShop a:hover {
  background-color: rgb(19, 171, 221);
  color: white;
  font-size: 1.5em;
}

.TV {
  position: relative;
  margin: auto auto;
  height: 60vh;
  width: 80%;
  background-image: url("../imgs/TV.png");
  background-position: center;
  background-size: 100% 90%;
  background-repeat: no-repeat;
}

.cut {
  height: 78%;
  width: 91%;
  overflow: hidden;
  margin: auto auto;
}

.images {
  margin: 6% 0;
  height: 100%;
  width: 400%;
  -webkit-animation: slide 25s ease-in-out infinite;
  -moz-animation: slide 25s ease-in-out infinite;
  -ms-animation: slide 25s ease-in-out infinite;
  -o-animation: slide 25s ease-in-out infinite;
  animation: slide 25s ease-in-out infinite;
  animation-delay: 3s;
}

.images img {
  height: 90%;
  width: 24%;
  display: inline-block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-75%);
  }

  100% {
    transform: translateX(0);
  }
}

/*Start Deli*/
.deli {
  width: 85%;
  height: auto;
  margin: 0 7.5%;
  position: relative;
  padding-top: 25px;
}

.deli h1 {
  font-size: 3em;
  font-family: "Fjalla One", sans-serif;
  position: absolute;
  display: inline-block;
  background-color: rgb(73, 197, 204);
  padding: 1vh 2vh;
  line-height: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.box {
  margin-top: 25px;
  border: 3px solid black;
  background-image: url("../imgs/iconsdesign.png");
  background-position: center;
  background-size: 450px;
}

.box1 {
  padding-top: 40px;
  background: rgba(99, 224, 255, 0.699);
}

.box img {
  height: 100px;
  width: 250px;
  float: right;
}

.box p,
.box a {
  padding: 10px 3vw;
  font-size: 2em;
  font-family: "Fjalla One", sans-serif;
  line-height: 1.6em;
  text-align: justify;
  font-weight: bold;
  color: rgb(27, 25, 25);
}

.box a {
  text-decoration: none;
  padding: 1vh 2vh;
  margin: 0 3vw;
  background-color: rgb(0, 200, 255);
  font-size: 2em;
  transition: 200ms ease-in-out;
}

.box a:hover {
  color: white;
  background-color: rgb(230, 12, 230);
}
