section {
  width: 80%;
  height: auto;
  background-color: rgb(201, 238, 246);
  margin: 25vh 10%;
  display: flex;
  border: solid 4px black;
  position: relative;
  padding: 1.5vh 1.2vw;
  padding-top: 6vh;
  margin-bottom: 3vh;
}

#left {
  text-align: center;
  flex: 35%;
  margin-left: 5vh;
  height: 55vh;
}

#left img {
  width: 75%;
  height: 70%;
  margin: 10%;
  box-shadow: 25px 25px rgba(0, 0, 0, 0.6);
  background-color: white;
}

#left p {
  text-align: center;
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
  color: white;
  text-shadow: 3px 3px #000000;
  font-weight: 800;
}
#title {
  position: absolute;
  width: 70%;
  text-align: center;
  font-size: 2.2em;
  z-index: 1;
  border-bottom: 3px solid black;
  margin: -6.5vh 11vw;
  padding: 1vh;
  white-space: nowrap;
}
#right {
  text-align: justify;
  flex: 70%;
}

#right p {
  font-size: 1.65em;
  padding: 7% 10vh;
  padding-bottom: 0;
}

#backbutton {
  align-items: center;
  text-align: center;
}

#backbutton button {
  padding: 0.7vh;
  font-size: 20px;
  background-color: rgba(35, 133, 208, 0.6);
  border-radius: 8px;
}

#backbutton button:hover {
  padding: 0.8vh;
  border: 3px solid aqua;
}
