section {
  width: 100%;
  height: 95vh;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  margin-top: 11vh;
}

.products4 {
  flex: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5%;
  float: right;
  height: 100%;
  overflow-y: scroll;
  margin-top: 5vh;
  border-bottom: 2px solid black;
}

.products4::-webkit-scrollbar {
  display: none;
}

.product {
  flex: 20%;
  overflow: hidden;
  background: rgb(153 192 255);
  color: black;
  text-align: center;
  width: 240px;
  height: 340px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 0.8vh;
  border: black 2px solid;
  position: relative;
  cursor: pointer;
}

.product img {
  height: 150px;
  margin: 1rem;
}

.product img:hover {
  scale: 1.1;
}

.product:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.479);
}

.product button {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -5%);
  padding: 4px;
  border-radius: 10px;
  border: 0;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.product button:hover {
  transform: translate(-47%, -10%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.categories {
  flex: 29%;
  height: 50%;
  background-color: white;
  float: left;
  margin-top: 11.5vh;
}

#sort {
  height: 30%;
  width: 100%;
  border: 0;
  border-bottom: 5px solid black;
  text-align: left;
}

.sort {
  height: 100%;
  width: 100%;
  padding: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  > h1 {
    font-size: 2.3em;
    margin: 0 0 10px 0;

    > i {
      margin-top: 23px;
      float: right;
    }
  }

  > p {
    color: gray;
  }
}

#subcate {
  height: auto;
  width: 100%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 230, 231);

  > h2 {
    font-size: 2em;
  }

  > .buttons {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    height: 90%;

    > button {
      height: 7vh;
      font-size: 1.2em;
    }
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
