@media screen and (max-width: 851px) {
  .mainpage {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  #borderleft {
    display: none;
  }

  #toShop {
    border: 0;
    width: 100%;
    margin: 4vh 0 0 0;
    height: 49vh;
  }

  #Tleft {
    margin-top: 0;
    margin-left: 22px;
    width: 100%;
    height: 40vh;
  }

  #toShop a {
    margin-top: -30px;
    width: 90%;
    margin: auto;
  }

  #dtt {
    background-color: rgba(0, 199, 126, 0.6);
    margin: 3.5vh 1vh 0 1.5vh;
    font-size: 21.5px;
  }

  .mainpage2 {
    float: none;
  }

  .mainpage2 p {
    border-bottom: 2px solid black;
  }

  .mainpage3 h1 {
    font-size: 25px;
    background-color: aquamarine;
    padding: 3px;
    border-radius: 10px;
    border-bottom: 2px solid black;
  }

  .mainpage3 h3 {
    margin: 1vh 0 0 0;
    border-bottom: 2px solid black;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 3px;
  }

  .mainpage3 {
    float: none;
    border-left: none;
    margin-left: -22px;
  }

  .Tright {
    display: none;
  }

  #deli_img {
    float: left;
    width: 100%;
    height: 300px;
  }

  #deli_id {
    width: 98%;
    margin: 0 1%;
  }

  #deli_id p {
    font-size: 1.5em;
  }
}