@media (max-width: 800px) {
  section {
    flex-direction: column;
    width: 96%;
    margin: 0 2%;
    margin-top: 3%;

    >#left {
      margin: 0;

      >img {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }

    >#right p {
      font-size: 1.3em;
    }

  }
}